<%= erb :"shared/_list.html", locals: {lists: lists} %>
  <div class="list list-add elem">
    <form class="list-form is-idle" action="lists" method="post">
      <div class="add-a-list js-add-list">
        Add a List...
      </div>
      <div class="add-list-inputs hidden">
        <input type="hidden" name="new-file" value="<%= lists.count %>">
        <input type="text" class="list-name-input" name="list-name" placeholder="List name...">
      </div>
    </form>
  </div>
</div>